body {
    background-color: skyblue;
}
#outerBlock {
    background-color: whitesmoke;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}
#firstInner {
    background-color: greenyellow;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#secondInner {
    background-color: darkred;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}
#innerMost{
    background-color: darkorange;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}
